{% extends 'base.html' %}


{% block body %}
<div class="main-container">
	<form method="get" action="/results">
	    <div class="input-group">
	        <input type="text" class="form-control" placeholder="Search terms in English" name="query">
	        <span class="input-group-btn">
	          <button class="btn btn-default" type="submit">Search</button>
	        </span>
	    </div>
    </form>

    <h3>Queries</h3>
    <ul class="queries">
    	{% for query in queries %}
    		<li><a href="javascript:searchQuery('{{ query.text }}')">{{ query.text }}</a></li>
    	{% endfor %}
    </ul>
</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		function searchQuery(query) {
			document.location = "/results?query=" + encodeURIComponent(query);
		}
	</script>
{% endblock %}